
  <header>
  <a href="home" id="logo">
    <h1>Super Crewe Mobile Autoworks</h1>
  </a>
  <nav id="main_nav">
    <ul>
      <li><a href="home" class="selected">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </nav>
</header>

<!-- <h2 id="title">Welcome to Ember</h2> -->

{{outlet}}
